@model Category

@{
    ViewData["Title"] = "Edit Category";
}

@section title {
    @if (Model is not null)
    {
        <h3>Category: @Model.Name</h3>
    }
}

<partial name="_CategoryForm" model="@Model" />