@{
    ViewData["Title"] = "Categories";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SuperMarketManager</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the Categories page.</p>
    <br />
    <ul>
        <li>
            <a href="/categories/edit/1">Beverage</a>
        </li>
        <li>
            <a href="/categories/edit/2">Meat</a>
        </li>
    </ul>
</body>
</html>
